@import '../../../../styles/abstracts/variables';

:host {
  position: relative;
  top: -2px;
}

.label {
  font-size: $fs-tiny;
  white-space: nowrap;
  cursor: pointer;
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
}

input {
  cursor: pointer;
}
