{
  "src/**/*.ts": [
    "eslint --fix",
    "prettier --parser typescript --write",
    "git add"
  ],
  "src/**/*.scss": [
    "stylelint --syntax scss --fix",
    "prettier --write",
    "git add"
  ]
}
