// General purpose colors for text
// Variable names from http://chir.ag/projects/name-that-color

$color-black: #000;
$color-white: #fff;
$color-wild-sand: #fafafa;
$color-gallery: #ececec;
$color-tundora: #4a4a4a;
