@import '../../../../styles/abstracts/variables';

:host {
  padding: 30px;
  display: flex;
  flex-direction: column;
  background-color: $color-white;
  box-sizing: border-box;
  height: min-content;
}

.host-id {
  font-weight: $fw-bold;
  line-height: 19px;
}

.apps-list {
  margin-top: 23px;
}

.app {
  display: flex;
  flex-direction: row;
  margin-top: 23px;

  &:first-child {
    margin-top: 0;
  }

  &-apdex {
    color: rgba($color-tundora, 0.62);
    line-height: 19px;
    font-size: 13px;
    font-weight: $fw-bold;
  }

  &-name {
    color: $color-tundora;
    line-height: 19px;
    margin-left: 23px;
  }
}
