@import '../../../../styles/abstracts/variables';

:host {
  padding: 30px;
  display: flex;
  flex-direction: column;
  background-color: $color-white;
  box-sizing: border-box;
  height: min-content;

}

.host-id {
  font-weight: $fw-bold;
  line-height: 19px;
}

.apps-list {
  margin-top: 23px;
}

app-application:first-child {
  margin-top: 0;
}
