@import '../../../../styles/abstracts/variables';

:host {
  display: flex;
  align-items: baseline;
}

.title {
  font-size: 35px;
  font-weight: $fw-bold;
  line-height: 43px;
}

.subtitle {
  font-size: $fs-big;
  line-height: 22px;
}

.title-wrapper {
  margin-right: 30px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;

}

app-view-switcher {
  margin-left: auto;
}
